<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TCS_TelecomStoreInventory</display-name>
  <welcome-file-list>
  	<welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>addingStock</description>
    <display-name>AddStockController</display-name>
    <servlet-name>AddStockController</servlet-name>
    <servlet-class>controller.AddStockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStockController</servlet-name>
    <url-pattern>/AddStockController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductController</display-name>
    <servlet-name>DeleteProductController</servlet-name>
    <servlet-class>controller.DeleteProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductController</servlet-name>
    <url-pattern>/DeleteProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePackageController</display-name>
    <servlet-name>DeletePackageController</servlet-name>
    <servlet-class>controller.DeletePackageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePackageController</servlet-name>
    <url-pattern>/DeletePackageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePackageController</display-name>
    <servlet-name>UpdatePackageController</servlet-name>
    <servlet-class>controller.UpdatePackageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePackageController</servlet-name>
    <url-pattern>/UpdatePackageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStockController</display-name>
    <servlet-name>UpdateStockController</servlet-name>
    <servlet-class>controller.UpdateStockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStockController</servlet-name>
    <url-pattern>/UpdateStockController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStockController</display-name>
    <servlet-name>DeleteStockController</servlet-name>
    <servlet-class>controller.DeleteStockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStockController</servlet-name>
    <url-pattern>/DeleteStockController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductController</display-name>
    <servlet-name>UpdateProductController</servlet-name>
    <servlet-class>controller.UpdateProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductController</servlet-name>
    <url-pattern>/UpdateProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductController</display-name>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>controller.AddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/AddProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStocKController</display-name>
    <servlet-name>AddStocKController</servlet-name>
    <servlet-class>controller.AddStocKController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStocKController</servlet-name>
    <url-pattern>/AddStocKController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPackageController</display-name>
    <servlet-name>AddPackageController</servlet-name>
    <servlet-class>controller.AddPackageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPackageController</servlet-name>
    <url-pattern>/AddPackageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAsValidator</display-name>
    <servlet-name>LoginAsValidator</servlet-name>
    <servlet-class>controller.LoginAsValidator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAsValidator</servlet-name>
    <url-pattern>/LoginAsValidator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InventoryManagerController</display-name>
    <servlet-name>InventoryManagerController</servlet-name>
    <servlet-class>controller.InventoryManagerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryManagerController</servlet-name>
    <url-pattern>/InventoryManagerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetailerLoginController</display-name>
    <servlet-name>RetailerLoginController</servlet-name>
    <servlet-class>controller.RetailerLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetailerLoginController</servlet-name>
    <url-pattern>/RetailerLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TagRetailerController</display-name>
    <servlet-name>TagRetailerController</servlet-name>
    <servlet-class>controller.TagRetailerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TagRetailerController</servlet-name>
    <url-pattern>/TagRetailerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPackageController</display-name>
    <servlet-name>ViewPackageController</servlet-name>
    <servlet-class>controller.ViewPackageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPackageController</servlet-name>
    <url-pattern>/ViewPackageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProductModelController</display-name>
    <servlet-name>ViewProductModelController</servlet-name>
    <servlet-class>controller.ViewProductModelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductModelController</servlet-name>
    <url-pattern>/ViewProductModelController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssuePackageController</display-name>
    <servlet-name>IssuePackageController</servlet-name>
    <servlet-class>controller.IssuePackageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssuePackageController</servlet-name>
    <url-pattern>/IssuePackageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssuePackageDAO</display-name>
    <servlet-name>IssuePackageDAO</servlet-name>
    <servlet-class>model.dao.IssuePackageDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssuePackageDAO</servlet-name>
    <url-pattern>/IssuePackageDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuantityController</display-name>
    <servlet-name>AddQuantityController</servlet-name>
    <servlet-class>controller.AddQuantityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuantityController</servlet-name>
    <url-pattern>/AddQuantityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQuantityController</display-name>
    <servlet-name>UpdateQuantityController</servlet-name>
    <servlet-class>controller.UpdateQuantityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuantityController</servlet-name>
    <url-pattern>/UpdateQuantityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewQuantityController</display-name>
    <servlet-name>ViewQuantityController</servlet-name>
    <servlet-class>controller.ViewQuantityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewQuantityController</servlet-name>
    <url-pattern>/ViewQuantityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThresholdController</display-name>
    <servlet-name>ThresholdController</servlet-name>
    <servlet-class>controller.ThresholdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThresholdController</servlet-name>
    <url-pattern>/ThresholdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityViewController</display-name>
    <servlet-name>QuantityViewController</servlet-name>
    <servlet-class>controller.QuantityViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityViewController</servlet-name>
    <url-pattern>/QuantityViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewthresoldController</display-name>
    <servlet-name>ViewthresoldController</servlet-name>
    <servlet-class>controller.ViewthresoldController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewthresoldController</servlet-name>
    <url-pattern>/ViewthresoldController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewQuantityController1</display-name>
    <servlet-name>ViewQuantityController1</servlet-name>
    <servlet-class>controller.ViewQuantityController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewQuantityController1</servlet-name>
    <url-pattern>/ViewQuantityController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPackageController1</display-name>
    <servlet-name>ViewPackageController1</servlet-name>
    <servlet-class>controller.ViewPackageController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPackageController1</servlet-name>
    <url-pattern>/ViewPackageController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProductModelController1</display-name>
    <servlet-name>ViewProductModelController1</servlet-name>
    <servlet-class>controller.ViewProductModelController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductModelController1</servlet-name>
    <url-pattern>/ViewProductModelController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRetailerController</display-name>
    <servlet-name>AddRetailerController</servlet-name>
    <servlet-class>controller.AddRetailerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRetailerController</servlet-name>
    <url-pattern>/AddRetailerController</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>UpdateProductController1</display-name>
    <servlet-name>UpdateProductController1</servlet-name>
    <servlet-class>controller.UpdateProductController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductController1</servlet-name>
    <url-pattern>/UpdateProductController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TagRetailerController1</display-name>
    <servlet-name>TagRetailerController1</servlet-name>
    <servlet-class>controller.TagRetailerController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TagRetailerController1</servlet-name>
    <url-pattern>/TagRetailerController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PieChart</display-name>
    <servlet-name>PieChart</servlet-name>
    <servlet-class>controller.PieChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PieChart</servlet-name>
    <url-pattern>/PieChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBeforeDeleteController</display-name>
    <servlet-name>ViewBeforeDeleteController</servlet-name>
    <servlet-class>controller.ViewBeforeDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBeforeDeleteController</servlet-name>
    <url-pattern>/ViewBeforeDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadController</display-name>
    <servlet-name>DownloadController</servlet-name>
    <servlet-class>controller.DownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadController</servlet-name>
    <url-pattern>/DownloadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadFromCsvController</display-name>
    <servlet-name>ReadFromCsvController</servlet-name>
    <servlet-class>controller.ReadFromCsvController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadFromCsvController</servlet-name>
    <url-pattern>/ReadFromCsvController</url-pattern>
  </servlet-mapping>
</web-app>