.ttl
{

font-family:"Tribuchet Ms";
font-size:70px;
padding-top:55px;
padding-bottom:3px;
padding-right:20px;
padding-left:250px;
}

.cl { font-size: 0; line-height: 0; clear: both; display: block; height: 0; }

#logo { float: left; display: inline; width: 111px; font-size: 0; line-height: 0; }
#logo a { display: block; height: 115px; text-indent: -4000px; background: url(images/logo1.jpg); }


#navigation { height: 38px; background: url(images/navigation.gif) no-repeat; padding: 8px 10px 6px; margin-top: 16px; }
#navigation ul { font-size: 13px; line-height: 38px; text-transform: capitalize; }
#navigation ul li { float: left; display: inline; list-style-type: none; padding-right: 2px; }
#navigation ul li a { float: left; display: inline; color: #fff; text-decoration: none; padding-left: 17px; }
#navigation ul li a span { float: left; display: inline; padding-right: 17px; background-position: right 0 !important; }
#navigation ul li a:hover,
#navigation ul li a.active,
#navigation ul li a:hover span,
#navigation ul li a.active span { color: #717171; background: url(images/nav-active.gif) no-repeat 0 0; }


/* *************************** * navigation drop down * ****************************** */

#top { position:relative; z-index: 100; }
#navigation ul li { position: relative; }
#navigation ul li:hover > a,
#navigation ul li:hover > a.active,
#navigation ul li:hover > a span,
#navigation ul li:hover > a.active span { color: #717171; background: url(images/nav-active.gif) no-repeat 0 0; }

#navigation ul li ul { display:none; position:absolute; top: 30px; left: 0; background: #fff; width:200px; 
	border-radius: 0px 5px 5px 5px; -moz-border-radius: 0px 5px 5px 5px; -webkit-border-radius: 0px 5px 5px 5px; -o-border-radius: 0px 5px 5px 5px;
}

#navigation ul li:hover > ul { display: block; }
#navigation ul li ul li { float:none; display:block; background: transparent; padding-right:0; }
#navigation ul li ul li a { display:block; float:none; background: transparent; color:#717171; }
#navigation ul li ul li a:hover { background: #3fc2ed url(images/dd-hover.png) repeat-x 0 0; color:#fff; }
#navigation ul li ul li:first-child a { border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0; -o-border-radius: 0 5px 0 0; }
#navigation ul li ul li:last-child a { border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; }