
#menu { height: 300px; background: url(images/login-box-backg.png) no-repeat; padding: 25px 10px -1px; margin-top: -17px; }
#menu ul { font-size: 13px; line-height: 36px; text-transform: capitalize;padding-left: 0px; margin-top: 10px;}
#menu ul li { float: none; display: inline; list-style-type: none; padding-right: 0px;z-index: 100; }
#menu ul li a { float: left; display: inline; color: #fff; text-decoration: none; padding-left: 20px; }
#menu ul li a span { float: left; display: inline; padding-right: 17px; background-position: right 0 !important; }
#menu ul li a:hover,
#menu ul li a.active,
#menu ul li a:hover span,
#menu ul li a.active span { color: #717171; background: url(images/nav-active1.bmp) no-repeat 0 0; }


/* *************************** * menu drop down * ****************************** */

#top { position:relative; z-index: 100; }
#menu ul li { position: relative; }
#menu ul li:hover > a,
#menu ul li:hover > a.active,
#menu ul li:hover > a span,
#menu ul li:hover > a.active span { color: #717171; background: url(images/nav-active1.bmp) no-repeat 0 0; }

#menu ul li ul { display:none; position:absolute; top: 5px; left: -10px; background: #fff; width:160px; 
	border-radius: 0px 5px 5px 5px; -moz-border-radius: 0px 5px 5px 5px; -webkit-border-radius: 0px 5px 5px 5px; -o-border-radius: 0px 5px 5px 5px;
}

#menu ul li:hover > ul { display: block; }
#menu ul li ul li { float:none; display:block; background: transparent; padding-right:0; }
#menu ul li ul li a { display:block; float:none; background: transparent; color:#717171; }
#menu ul li ul li a:hover { background:#3385FF url(images/dd-hover.png) repeat-x 0 0; color:#fff; }
#menu ul li ul li:first-child a { border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0; -o-border-radius: 0 5px 0 0; }
#menu ul li ul li:last-child a { border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; }




#menu ul li ul li ul{ display:none; position:absolute; top: 5px; left: 140px; background: #fff; width:145px; 
	border-radius: 0px 5px 5px 5px; -moz-border-radius: 0px 5px 5px 5px; -webkit-border-radius: 0px 5px 5px 5px; -o-border-radius: 0px 5px 5px 5px;
